<li>
	{{uName}}

	<button class="change-status" data-id="{{uID}}" data-newstatus="{{uActive}}">
		{{#if uActive}}Lets order it again!!!{{else}}Lets EAT!!{{/if}}
	</button>

	<button class="remove-burguer" data-id="{{this.uID}}">DELETE!</button>
</li>
