<li>
	{{uName}}

	<button class="change-status" data-id="{{id}}" data-newstatus="{{status}}">
		{{#if status}}ITADAKIMASU!!{{else}}Lets order it again!{{/if}}
	</button>

	<button class="delete-burguer" data-id="{{this.id}}">DELETE!</button>
</li>
